.Divider {
  margin-top: 100px;
  border-color: black;
  border-width: thick;
}

.SignupSection {
  margin : auto;
  margin-top: 16%;
  margin-bottom: 15%;
  /* border-radius: 12%; */
  max-width: 420px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgba(132, 125, 125, 0.4);
}

.SignupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}


textarea {
font-size: 22px;
padding: 0.25rem;
border-radius: 0.5rem;
}

.SignupInput{
  font-size: 20px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top : 5px;
}

.SignLabel {
margin-top: 1rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.signup-detail-label {
  margin-top: 14px;
}

input::placeholder {
  font-size: 15px;
  font-style: italic;
}


.address-button {
  /* justify-content: left; */
  text-align: left;
}

.id-and-check {
  justify-content: space-between;
  display:flex;
}

.check-btn {
  position: relative;
  font-size: 14px;
  color: #6A6A6A;
  background-color: #EEB6B6;
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
}