.hashtag-header {
  display: flex;
  margin-top: 60px;
}

.hashtag-left {
  width: 50%;
  margin-left: 3%;
}


.hashtag-title {
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
  color: #6A6A6A;
}

